* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

header {
    background-color: orange;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-container {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.gender{
    width: 20%;
    color: white;
    font-weight: bold;
}

.logo{
    width: 60%;
    height: 50px;
    text-align: center;
}

.logo img {
    max-height: 100%;
}

.icons i{
    margin-left: 5px;
}
.img-container:hover .img-showed{
    display: none;
}

.img-container:hover .img-covered{
    display: block;
}


.img-covered {
    width: 100%;
    display: none;
    padding-bottom: 4px;
}

.hearts:hover {
    color: red;
}

.icons {
    width: 20%;
    text-align: end;
    color: white;
}

.main-container {
    width: 1170px;
    margin: auto;
    padding: 100px 0px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.column {
    width: 30%;
    margin: 25px 0px;
}

.img-container{
    position: relative;
    height: 500px;
}

.img-container img {
    max-width: 100%;
}

.red-price{
    color: red;
    
}

.title{
    margin-top: 10px;
    font-weight: 200;
}

.little-title{
    font-weight: 200;
    margin-top: 5px;
}

.big-title{
    margin-top: 5px;
}

.hearts{
    width: 15%;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    line-height: 50px;
}


.discount{
    position: absolute;
    width: 55%;
    bottom: 30px;
    left: 0;
}

.tag{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}


.tag-red{
    background-color: red;
}

.tag-green{
    background-color: green;
}

footer{
    background-color: rgb(26, 26, 26);
}

.footer-container{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.credential {
    width: 50%;
    color: white;
}

.credential a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

.socials{
    width: 50%;
    text-align: end;
    color: white;
}

.socials h4{
    padding: 0px 25px;
    font-size: 14px;
}

.socials i{
    margin: 10px 10px 0px 0px;
}